.detailsofcar {
  display: flex;
  flex-direction: column;

  /* justify-content: center; 
  */
  /* align-items: center; */
  text-align: right;
  margin-right: 30px;
  margin-top: 20px;
}
.carimage {
  margin-left: 20px;
}
