.detailsofcar {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.imagesforbuy {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
}

.chooseIsracard,
.choosePayPal {
  margin-bottom: 10px;
  margin-top: 10px;
}
