* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.Page {
  position: relative;
  border: 1px solid black;
  margin: auto;
  margin-top: 5vh;
  width: 414px;
  height: 90vh;
  padding: 60px;
}

.error {
  color: red;
}
.Signup {
  color: blue;
}
