* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.Page {
  position: relative;
  border: 1px solid black;
  margin: auto;
  margin-top: 5vh;
  width: 414px;
  height: 90vh;
}

.Signup-input-form,
.form-signin-input {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

input {
  width: 90%;
  background-color: #c4c4c4;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

input:focus {
  outline: none;
}
.input-form::placeholder {
  color: #161f53;
}

.error {
  color: red;
}

.Signin,
.Signup {
  display: flex;
  color: #161f53;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  background-color: #c4c4c4;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 16px;
  padding: 10px;
}

.Signin,
.Signup {
  outline: none;
}

.createaccount {
  margin-top: 10px;
}

#checkBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 3vh;
  margin-top: 3vh;
  margin-left: 20%;
  margin-right: 20%;
}

.user-checkbox,
.consumer-checkbox {
  display: flex;
  margin-bottom: 15px;
}
