* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* .Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 100%;
} */
.Page {
  position: relative;
  border: 1px solid black;
  margin: auto;
  margin-top: 5vh;
  width: 414px;
  height: 90vh;
  padding: 60px;
}
.Signup-input-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #161f53;
}
.Signup-input-form input {
  width: 80%;
}
.error {
  color: red;
}
.Signup {
  color: #161f53;
  margin: auto;
  width: 50%;
  padding: 10px;
}
